/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-bg: #f5f5f5;
    --box-bg: #f8f8f8;
    --box-shadow: #d3d3d38f;
    --color: #0e0e0e;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg);
}

.theme-toggler{
    background-color: red;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 1em;
    top: 1em;
}

/* Main container */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    text-align: center;
    height: 100px;
    padding-top: 0.5rem;
    margin-top: 3.2rem;
    color: var(--color);
}

.title p{
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

/* Box */
.box{
    background-color: var(--box-bg);
    width: 100%;
    height: 78vh;
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--box-shadow);
    display: flex;
    justify-content: space-between;
    color: var(--color);
}

.left{
    width: 50%;
    height: 100%;
    text-align: center;

}

#textArea{
    border: 0;
    width: 80%;
    height: 60%;
    padding: 1rem;
    margin: 0 auto;
    transition: 0.4s; 
    font-family: 'Poppins', sans-serif;
    resize: none;
    overflow-y: auto;
}

#textArea::-webkit-scrollbar {
    width: 10px;
}

#textArea::-webkit-scrollbar-track {
    background-color: darkgrey;
}

#textArea::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

#textArea:focus{
}

#textArea:hover{
    border: 3px solid red;
    transition: 0.2s;
}

.right{
    width: 50%;
    height: 100%;
    text-align: center;
}

h2{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.amountOfWinners {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 2%;
    justify-content: space-around;
}

.checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxes label {
    margin-left: 3%;
    font-size: 0.9rem;
}

h5 {
    font-size: 1.1rem;
}

.winnerCheckbox input {
    border-radius: 2rem;
}

.randomize {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    border: none;
    color: #fff;
    padding: 0.6rem;
    border-radius: 1rem;
    font-size: 1rem;
}
